cong/old_projects/combine_nodes/node-red/data/flows.json
[{"id":"42be8bf7.f285c4","type":"tab","label":"test_node","disabled":false,"info":""},{"id":"aeefd10b.51275","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"ca8c14fb.719148","type":"inject","z":"42be8bf7.f285c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280,"y":120,"wires":[[]]},{"id":"4efa7327.915674","type":"influxdb-write-data","z":"42be8bf7.f285c4","name":"","influxdbServer":"aeefd10b.51275","dataInput":"writeData","measurement":"data","outputTo":"result","x":670,"y":120,"wires":[["fa1a760.f1b6e88"]]},{"id":"53d6b748.4499","type":"function","z":"42be8bf7.f285c4","name":"one point","func":"msg.writeData ={\n    tags:{\n        'tag1':'name1',\n        'tag2':'name2'\n    },\n    fields:{\n        'value1':123+msg.payload,\n        'value2':456+msg.payload\n    },\n    time_stamp:Date.now() * Math.pow(10,6)\n};\nnode.send(msg);","outputs":1,"noerr":0,"x":440,"y":40,"wires":[["4efa7327.915674"]]},{"id":"fa1a760.f1b6e88","type":"debug","z":"42be8bf7.f285c4","name":"","active":true,"console":"false","complete":"true","x":830,"y":120,"wires":[]},{"id":"480a6833.7b2f2","type":"function","z":"42be8bf7.f285c4","name":"array List data","func":"let dataList = [];\nfor (let i = 0; i < 10; i++) {\n    dataList.push({\n        tags: {\n            'tag3': 'name3',\n            'tag4': 'name4'\n        },\n        fields: {\n            'value3': 123+i,\n            'value4': 456+i\n        },\n        time_stamp: (Date.now()+i*100) * Math.pow(10, 6)\n    });\n}\n\nmsg.writeData = dataList;\nnode.send(msg);","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["4efa7327.915674"]]},{"id":"654b1a3c.1cb96c","type":"data-validators","z":"42be8bf7.f285c4","name":"","lightValidator":{"min":5,"max":50,"unit":"lumen"},"x":360,"y":400,"wires":[[]]},{"id":"ab74e197.37ca8","type":"inject","z":"42be8bf7.f285c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":129,"y":416,"wires":[["654b1a3c.1cb96c"]]}]