cong/code/node-red/data/flows.json
[{"id":"f81c2146.a8a8","type":"tab","label":"cong-flow","disabled":false,"info":""},{"id":"c045e5a7.572c08","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"686c798c.8bfb1","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"9d158d3f.2c3128","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"ec988669.12d2b","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"dac00537.fbb0d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"82c865e8.28d868","type":"mqtt in","z":"f81c2146.a8a8","name":"","topic":"esp/newDevice","qos":"2","broker":"c045e5a7.572c08","x":103,"y":282.95001220703125,"wires":[["fecf9c4.888b4e"]]},{"id":"4d202c15.1fa464","type":"inject","z":"f81c2146.a8a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":130,"y":60,"wires":[["ba84c306.763628"]]},{"id":"ba84c306.763628","type":"mysql-query","z":"f81c2146.a8a8","mydb":"686c798c.8bfb1","name":"check table exist","queryString":"SHOW TABLES LIKE 'device';\nSHOW TABLES LIKE 'sensor';\n","outputTo":"queryResult","x":368.8833312988281,"y":53.883331298828125,"wires":[["65f87678.17b3b8"]]},{"id":"65f87678.17b3b8","type":"function","z":"f81c2146.a8a8","name":"send init tbl command","func":"var tbl_exist = 0;\nfor (let i=0;i<2;i++){\n    if(msg.queryResult[i].length>=1){\n        tbl_exist+=1;\n    }\n}\nif(tbl_exist<2){\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":598.8833312988281,"y":53.883331298828125,"wires":[["256a2176.6c5dbe"]]},{"id":"256a2176.6c5dbe","type":"mysql-query","z":"f81c2146.a8a8","mydb":"686c798c.8bfb1","name":"init tables if not exist","queryString":"CREATE TABLE device (\nmacAddr \tVARCHAR(255) \tNOT NULL,\ndevice_id \tVARCHAR(255) \tNOT NULL,\ntype\t\tVARCHAR(255) \tNOT NULL,\nstatus \t\tVARCHAR(255) \tNOT NULL,\ncreated_at \tDATETIME \tNOT NULL,\nPRIMARY KEY (macAddr)\n);\n\n\nCREATE TABLE sensor (\nname \t\tVARCHAR(255)\tNOT NULL,\nmacAddr \tVARCHAR(255) \tNOT NULL,\nunit \t\tVARCHAR(255),\nstatus \t\tVARCHAR(255) \tNOT NULL,\ncreated_at \tDATETIME\tNOT NULL,\nPRIMARY KEY (name, macAddr),\nCONSTRAINT fk_device FOREIGN KEY (macAddr) REFERENCES device(macAddr) ON DELETE CASCADE\n);\n","outputTo":"queryResult","x":838.8833312988281,"y":53.883331298828125,"wires":[[]]},{"id":"fecf9c4.888b4e","type":"function","z":"f81c2146.a8a8","name":"parse payload msg","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":179,"y":162,"wires":[["59fe4155.e34848"]]},{"id":"4617c90c.8f69","type":"function","z":"f81c2146.a8a8","name":"add device if not exist","func":"var moment = global.get('moment');\nif (msg.deviceQueryResult.length === 0) {\n    // prepare add board query\n    var addBoardQuery = 'INSERT INTO device VALUES(?,?,?,?,?)';\n    var bindQuery = [\n        msg.payload.macAddr,\n        msg.payload.deviceID,\n        msg.payload.type,\n        'ONLINE',\n        moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\"),\n    ];\n    var addNewBoardMsg = {\n        payload:msg.payload,\n        query:addBoardQuery,\n        bindQuery:bindQuery\n    };\n    return [addNewBoardMsg, null];\n    // add board device    \n} else {\n    // do nothing    \n    return [null, msg];\n}","outputs":"2","noerr":0,"x":600,"y":280,"wires":[["7e42f19c.a8c24"],["5ec22e28.ba6428"]]},{"id":"364bee57.6f847a","type":"mqtt out","z":"f81c2146.a8a8","name":"","topic":"","qos":"","retain":"","broker":"c045e5a7.572c08","x":1670,"y":280,"wires":[]},{"id":"74890cf1.0d990c","type":"mysql-query","z":"f81c2146.a8a8","mydb":"686c798c.8bfb1","name":"check device","queryString":"","outputTo":"deviceQueryResult","x":444.75,"y":160.75,"wires":[["4617c90c.8f69"]]},{"id":"59fe4155.e34848","type":"function","z":"f81c2146.a8a8","name":"check device exist","func":"// authenticate msg format\nlet query ='select * from device where macAddr = ?';\n// console.log(msg.payload.mac_addr);\nlet bindQuery = [ msg.payload.macAddr,];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":350,"y":280,"wires":[["74890cf1.0d990c"]]},{"id":"7e42f19c.a8c24","type":"mysql-query","z":"f81c2146.a8a8","mydb":"686c798c.8bfb1","name":"add board","queryString":"","outputTo":"queryResult","x":698.75,"y":158.75,"wires":[["5ec22e28.ba6428"]]},{"id":"7b55395c.22e7f","type":"function","z":"f81c2146.a8a8","name":"add sensors if not exists","func":"var moment = global.get('moment');\nfunction checkSensorExist(checkSensor, currentSensors) {\n    var isExist = false;\n    for (var i = 0; i < currentSensors.length; i++) {\n        if (checkSensor.name == currentSensors[i].name) {\n            isExist = true;\n            break;\n        }\n    }\n    return isExist;\n}\n\nfunction createQueryaddNewSensors(newSensors, macAddr) {\n    var addSensorsQuery = '';\n    var bindQuery = [];\n    for (var i = 0; i < newSensors.length; i++) {\n        var newSensor = newSensors[i];\n        addSensorsQuery += 'INSERT INTO sensor VALUES (?, ?, ?,?,?); ';\n        bindQuery.push(\n            newSensor.name,\n            macAddr,\n            newSensor.unit, \n            'ONLINE',\n            moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\")\n            );\n    }\n    return {\n        query: addSensorsQuery,\n        bindQuery: bindQuery\n    };\n}\n\nvar currentSensors = msg.sensorsQueryResult;\nvar deviceSensors = msg.payload.sensors;\nvar macAddr = msg.payload.macAddr;\nvar newSensors = [];\nfor (var i = 0; i < deviceSensors.length; i++) {\n    checkDeviceSensor = deviceSensors[i];\n    if (checkSensorExist(checkDeviceSensor, currentSensors) === false) {\n        newSensors.push(checkDeviceSensor);\n    }\n}\n\nif (newSensors.length > 0) {\n    var addNewSensorsQuery = createQueryaddNewSensors(newSensors, macAddr);\n    var newMsg = {\n        query:addNewSensorsQuery.query,\n        bindQuery:addNewSensorsQuery.bindQuery,\n        payload: msg.payload\n    };\n    return [newMsg, null];\n} else {\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":1170,"y":280,"wires":[["3664dfc0.83ee1"],["c98cacf8.97f31"]]},{"id":"3664dfc0.83ee1","type":"mysql-query","z":"f81c2146.a8a8","mydb":"686c798c.8bfb1","name":"add sensor","queryString":"","outputTo":"addSensorResult","x":1347.75,"y":144.75,"wires":[["c98cacf8.97f31"]]},{"id":"1fcdeb95.b4e9ac","type":"mysql-query","z":"f81c2146.a8a8","mydb":"686c798c.8bfb1","name":"get sensors Info","queryString":"","outputTo":"sensorsQueryResult","x":954.75,"y":156.75,"wires":[["7b55395c.22e7f"]]},{"id":"c98cacf8.97f31","type":"function","z":"f81c2146.a8a8","name":"send authenticated message","func":"var macAddr = msg.payload.macAddr;\n\nvar authenticatedMsg ={\n    type:'register',\n    status:'OK'\n}\nvar sendAuthenticatedMsg ={\n    topic:'esp/'+macAddr+'/action',\n    payload:authenticatedMsg\n}\nreturn sendAuthenticatedMsg;","outputs":1,"noerr":0,"x":1460,"y":280,"wires":[["364bee57.6f847a"]]},{"id":"5ec22e28.ba6428","type":"function","z":"f81c2146.a8a8","name":"get current device sensors","func":"// authenticate msg format\nlet query ='select * from sensor where macAddr = ?';\nlet bindQuery = [ msg.payload.macAddr,];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":880,"y":280,"wires":[["1fcdeb95.b4e9ac"]]},{"id":"837fcb87.3a7e1","type":"mqtt in","z":"f81c2146.a8a8","name":"","topic":"esp/data","qos":"2","broker":"c045e5a7.572c08","x":80,"y":400,"wires":[["31a293f3.757cac"]]},{"id":"1d04c016.7f3cb","type":"influxdb-write-data","z":"f81c2146.a8a8","name":"add time serie data","influxdbServer":"9d158d3f.2c3128","dataInput":"serieDataList","measurement":"data","outputTo":"writeDataResult","x":690,"y":400,"wires":[["c4d3d293.86e308"]]},{"id":"33833e6f.8f2b42","type":"function","z":"f81c2146.a8a8","name":"write serie data to influxdb","func":"//\tC: [1, 100]; \t%: [0, 100],\tlux: [1, 65535]\nlet macAddr = msg.payload.macAddr;\nlet sensorData = msg.payload.sensorsData;\nlet serieDataList=[];\nfor (var i = 0; i < sensorData.length; i++) {\n    let checkSensorData = sensorData[i];\n    serieDataList.push({\n        tags: {\n            'macAddr': macAddr,\n            'name': checkSensorData.name,\n        },\n        fields: {\n            'unit': checkSensorData.unit,\n            'value': checkSensorData.value\n        },\n        time_stamp: msg.receivedTime.getTime() * Math.pow(10, 6)\n    });\n}\nlet sendMsg = msg;\nif (serieDataList.length > 0) {\n    sendMsg.serieDataList = serieDataList;\n    node.send(sendMsg);\n}\n","outputs":"1","noerr":0,"x":470,"y":400,"wires":[["1d04c016.7f3cb"]]},{"id":"7a4d38f3.fc9de","type":"mqtt out","z":"f81c2146.a8a8","name":"send control msg","topic":"","qos":"","retain":"","broker":"ec988669.12d2b","x":1130,"y":400,"wires":[]},{"id":"31a293f3.757cac","type":"function","z":"f81c2146.a8a8","name":"parse payload ","func":"msg.payload = JSON.parse(msg.payload);\nmsg.receivedTime = new Date();\nlet msgType =  msg.payload.type;\n\nif(msgType=='data'){ // forward msg to process data message flow\n    node.send(msg);\n}","outputs":"1","noerr":0,"x":240,"y":400,"wires":[["33833e6f.8f2b42"]],"outputLabels":["flow process data message"]},{"id":"c4d3d293.86e308","type":"threshold-operator","z":"f81c2146.a8a8","name":"set temperature threshold","temperatureLimit":"35","x":910,"y":400,"wires":[["7a4d38f3.fc9de"]]}]