cong/old_projects/project-2/docker-compose-deploy/node-red/data/flows.json
[{"id":"e9dfec62.6b0488","type":"tab","label":"iot-monitoring-data-input","disabled":false,"info":""},{"id":"d419dec8.700c28","type":"tab","label":"Simulate IoT Send data","disabled":true,"info":""},{"id":"c1c8f69a.cc8c3","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f23c7270.62be68","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"ICSE_IOT_DATA"},{"id":"f596a629.238848","type":"http response","z":"d419dec8.700c28","name":"","statusCode":"","headers":{},"x":1007.9287109375,"y":171.03570556640625,"wires":[]},{"id":"3753e260.10fcce","type":"iot-data-in","z":"d419dec8.700c28","name":"","mqttBroker":"c1c8f69a.cc8c3","topic":"iot/sensor","x":157,"y":105,"wires":[["fa2771cf.a7e4b"]]},{"id":"87741e92.db602","type":"influxdb-out","z":"d419dec8.700c28","name":"data_output_to_influxdb","influxdbServer":"f23c7270.62be68","measurement":"sensor_data","enableSchema":true,"dbTags":["sender_sensor","data_type"],"dbFields":[{"name":"value","type":"FLOAT"}],"x":959.857177734375,"y":96.85712432861328,"wires":[]},{"id":"fa2771cf.a7e4b","type":"function","z":"d419dec8.700c28","name":"convert data to influx form","func":"var payload = msg.payload;\nvar time_stamp = payload.time_stamp;\nvar time_precision = payload.time_precision;\nvar payload = msg.payload;\nvar time_stamp = payload.time_stamp;\nvar time_precision = payload.time_precision;\nif (time_precision !== \"millisecond\" && time_precision !== \"second\") {\n    node.error(\"Time precision \" + time_precision + \" is not supported! \" +\n        \"Supported type is second and millisecond\");\n\n} else {\n    if (time_precision == \"second\") {\n        time_stamp = time_stamp * Math.pow(10, 9);\n    } else if (time_precision == \"millisecond\") {\n        time_stamp = time_stamp * Math.pow(10, 6);\n    }\n    var outputMgs = [];\n    var sensorData = msg.payload.data;\n    for (var dataType in sensorData) {\n        msgOutPayload = {\n            tags:{\n                \"sender_sensor\":payload.sender_sensor,\n                \"data_type\":dataType,\n            },\n            fields:{\n                \"value\":parseFloat(sensorData[dataType]),\n            },\n            time_stamp:time_stamp,\n\n        };\n        outputMgs.push({payload:msgOutPayload});\n    }\n    return [outputMgs,];\n}","outputs":1,"noerr":0,"x":561.4285278320312,"y":89.14286041259766,"wires":[["87741e92.db602"]]},{"id":"5dce70e.1814f9","type":"chart-template","z":"d419dec8.700c28","name":"","x":544.5355834960938,"y":174.42852783203125,"wires":[["f596a629.238848"]]},{"id":"e7b721e3.c33d8","type":"inject","z":"d419dec8.700c28","name":"","topic":"","payload":"{\"dataType\":\"light\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":183.57144165039062,"y":257.8927917480469,"wires":[[]]},{"id":"b37f4b91.663418","type":"http in","z":"d419dec8.700c28","name":"","url":"/realtime-chart/api/get-init-data","method":"get","upload":false,"swaggerDoc":"","x":165,"y":500,"wires":[["b98c73e.18ebc9"]]},{"id":"f159dd06.0a5858","type":"http in","z":"d419dec8.700c28","name":"","url":"/realtime-chart","method":"get","upload":false,"swaggerDoc":"","x":165.02777099609375,"y":171.58331298828125,"wires":[["5dce70e.1814f9"]]},{"id":"dd00902d.443278","type":"http response","z":"d419dec8.700c28","name":"","statusCode":"","headers":{},"x":1023.7579956054688,"y":498.7935791015625,"wires":[]},{"id":"9e5a1462.330ff","type":"http in","z":"d419dec8.700c28","name":"","url":"/realtime-chart/api/get-lastest-data","method":"get","upload":false,"swaggerDoc":"","x":155,"y":680.2857055664062,"wires":[["732a89c4.23c33"]]},{"id":"b98c73e.18ebc9","type":"function","z":"d419dec8.700c28","name":"set unit - start time - end time","func":"let endTime = Date.now();\nlet startTime = endTime - 60*1000;\nmsg.timeSlice = {\n    startTime:startTime*Math.pow(10,6),\n    endTime:endTime*Math.pow(10,6)\n};\nif(msg.payload.dataType=='light'){\n    msg.payload.dataUnit ='lux';\n}else if(msg.payload.dataType=='humidity'){\n    msg.payload.dataUnit='%';\n}else if(msg.payload.dataType=='temperature'){\n    msg.payload.dataUnit='oC';\n}\nreturn msg;","outputs":1,"noerr":0,"x":232.65472412109375,"y":382.6507568359375,"wires":[["38da1c7b.96b464"]]},{"id":"eceac058.5b6458","type":"influxdb-query","z":"d419dec8.700c28","name":"query sensor data","influxdbServer":"f23c7270.62be68","queryString":"select *  from sensor_data  \nwhere\n    data_type='{{msg.payload.dataType}}' and\n    time >={{msg.timeSlice.startTime}} and\n    time <={{msg.timeSlice.endTime}}\n    \norder by time asc","outputTo":"query_sensor_data","x":751.0039672851562,"y":386.1150207519531,"wires":[["8594604f.32ae3"]]},{"id":"8594604f.32ae3","type":"function","z":"d419dec8.700c28","name":"format return obj","func":"let sensorInitDataList = [];\nfor (let i = 0; i < msg.query_sensor_list.length; i++) {\n    let sensorName = msg.query_sensor_list[i].value;\n    if (sensorName !== null) {\n        let duplicateColor = true;\n        let sensorInitData = {\n            id: sensorName,\n            timeSerieData: []\n        };\n        for (let i = 0; i < msg.query_sensor_data.length; i++) {\n            let timeSliceData = msg.query_sensor_data[i];\n            if (timeSliceData.sender_sensor == sensorInitData.id) {\n                sensorInitData.timeSerieData.push({\n                    timestamp: timeSliceData.time,\n                    value: timeSliceData.value\n                });\n            }\n        }\n        // sensorInitDataList.push(sensorInitData);\n        if (sensorInitData.timeSerieData.length > 0) {\n            sensorInitDataList.push(sensorInitData);\n        }    \n    }\n}\nmsg.payload.linesInitData = sensorInitDataList;\nreturn msg;","outputs":1,"noerr":0,"x":982.8731079101562,"y":389.642822265625,"wires":[["dd00902d.443278"]]},{"id":"38da1c7b.96b464","type":"influxdb-query","z":"d419dec8.700c28","name":"query sensor list","influxdbServer":"f23c7270.62be68","queryString":"show tag values \nfrom sensor_data \nwith key=sender_sensor","outputTo":"query_sensor_list","x":505.1785888671875,"y":388.03570556640625,"wires":[["eceac058.5b6458"]]},{"id":"4beba50e.d54e0c","type":"influxdb-query","z":"d419dec8.700c28","name":"query sensor list","influxdbServer":"f23c7270.62be68","queryString":"show tag values \nfrom sensor_data \nwith key=sender_sensor","outputTo":"query_sensor_list","x":522.857177734375,"y":547.1429443359375,"wires":[["398af19f.e7edee"]]},{"id":"398af19f.e7edee","type":"influxdb-query","z":"d419dec8.700c28","name":"query sensor data","influxdbServer":"f23c7270.62be68","queryString":"select *  from sensor_data  \nwhere\n    data_type='{{msg.payload.dataType}}' and\n    time >={{msg.timeSlice.startTime}} and\n    time <={{msg.timeSlice.endTime}}\n    \norder by time asc","outputTo":"query_sensor_data","x":748.6825256347656,"y":552.3650817871094,"wires":[["50b7bcce.b0ff1c"]]},{"id":"732a89c4.23c33","type":"function","z":"d419dec8.700c28","name":"set unit - start time - end time","func":"let endTime = Date.now();\nlet startTime = endTime - 2*1000;\nmsg.timeSlice = {\n    startTime:startTime*Math.pow(10,6),\n    endTime:endTime*Math.pow(10,6)\n};\nif(msg.payload.dataType=='light'){\n    msg.payload.dataUnit ='lux';\n}else if(msg.payload.dataType=='humidity'){\n    msg.payload.dataUnit='%';\n}else if(msg.payload.dataType=='temperature'){\n    msg.payload.dataUnit='oC';\n}\nreturn msg;","outputs":1,"noerr":0,"x":227.14288330078125,"y":555.7143249511719,"wires":[["4beba50e.d54e0c"]]},{"id":"527d1fe9.49bfd8","type":"http response","z":"d419dec8.700c28","name":"","statusCode":"","headers":{},"x":1022.857177734375,"y":658.5714111328125,"wires":[]},{"id":"50b7bcce.b0ff1c","type":"function","z":"d419dec8.700c28","name":"format return obj","func":"let lastestDataList = [];\nfor (let i = 0; i < msg.query_sensor_list.length; i++) {\n    let sensorName = msg.query_sensor_list[i].value;\n    if (sensorName !== null) {\n        let duplicateColor = true;\n        let lineData = {\n            id: sensorName,\n            timeSerieData: []\n        };\n        for (let i = 0; i < msg.query_sensor_data.length; i++) {\n            let timeSliceData = msg.query_sensor_data[i];\n            if (timeSliceData.sender_sensor == lineData.id) {\n                lineData.timeSerieData.push({\n                    timestamp: timeSliceData.time,\n                    value: timeSliceData.value\n                });\n            }\n        }\n        // sensorInitDataList.push(sensorInitData);\n        if (lineData.timeSerieData.length > 0) {\n            lastestDataList.push(lineData);\n        }    \n    }\n}\nmsg.payload.lastestDataList = lastestDataList;\nreturn msg;","outputs":1,"noerr":0,"x":984.8294677734375,"y":547.9921875,"wires":[["527d1fe9.49bfd8"]]},{"id":"9c3d84ea.1148d8","type":"debug","z":"d419dec8.700c28","name":"","active":true,"console":"false","complete":"false","x":1018.75,"y":285,"wires":[]},{"id":"4cc99a4f.2bf2e4","type":"iot-data-in","z":"e9dfec62.6b0488","name":"icse/data","mqttBroker":"c1c8f69a.cc8c3","topic":"icse/data","x":73,"y":381,"wires":[["5cbbe7bf.697bf8"]]},{"id":"cc7643ed.2fce78","type":"iot-data-in","z":"e9dfec62.6b0488","name":"board_new_devices","mqttBroker":"c1c8f69a.cc8c3","topic":"icse/newDevices","x":109,"y":115,"wires":[["b42d79e1.85ff18"]]},{"id":"83fdd555.65a948","type":"influxdb-out","z":"e9dfec62.6b0488","name":"save new devices","influxdbServer":"f23c7270.62be68","measurement":"devices_and_sensors","enableSchema":false,"dbTags":[],"dbFields":[],"x":743,"y":119,"wires":[]},{"id":"7f0c5f94.41103","type":"mqtt out","z":"e9dfec62.6b0488","name":"send verify message","topic":"","qos":"","retain":"","broker":"c1c8f69a.cc8c3","x":779,"y":39,"wires":[]},{"id":"b42d79e1.85ff18","type":"influxdb-query","z":"e9dfec62.6b0488","name":"query device info","influxdbServer":"f23c7270.62be68","queryString":"select * \nfrom devices_and_sensors\nwhere macAddr='{{msg.payload.macAddr}}'","outputTo":"query_result","x":261,"y":32,"wires":[["2f98687f.96fd38"]]},{"id":"2f98687f.96fd38","type":"function","z":"e9dfec62.6b0488","name":"check if device exist","func":"if (msg.query_result.length===0){ // device with this mac address is not exist.\n    let new_msg = msg;\n    return [null,new_msg];\n}else{\n        let new_msg = {\n        payload:{type: \"subcribeNewDevice\", status: \"OK\"},\n        topic:'icse/'+msg.payload.macAddr  + '/action'\n    }  \n    return [new_msg,null];\n}\n","outputs":"2","noerr":0,"x":359,"y":98,"wires":[["7f0c5f94.41103"],["e1821f4b.29653"]],"outputLabels":["device exist path","new device path"]},{"id":"e1821f4b.29653","type":"function","z":"e9dfec62.6b0488","name":"process new device","func":"var payload = msg.payload;\nvar replyMsg = {\n    payload:JSON.stringify(\n        {type: \"subcribeNewDevice\", status: \"OK\"}),\n    topic:'/icse/'+msg.payload.macAddr  + '/action'\n}\nvar addNewDeviceMsg ={\n    payload:{\n            tags:{\n                \"macAddr\": msg.payload.macAddr,\n                //\"devicesStatus\":\"'ONLINE'\"\n            },\n            fields:{\n                \"type\": payload.type,\n                \"devicesStatus\":\"ONLINE\"\n            },\n            time_stamp: Date.now()*Math.pow(10, 6),\n    }\n}\nreturn [replyMsg,addNewDeviceMsg]","outputs":"2","noerr":0,"x":466,"y":178,"wires":[["7f0c5f94.41103"],["83fdd555.65a948"]],"outputLabels":["send reply path","add new device path"]},{"id":"5cbbe7bf.697bf8","type":"influxdb-query","z":"e9dfec62.6b0488","name":"query sensor info","influxdbServer":"f23c7270.62be68","queryString":"select * \nfrom devices_and_sensors\nwhere devices_macAddr='{{msg.payload.macAddr}}'\nand sensorID='{{msg.payload.sensorID}}'","outputTo":"query_result","x":174,"y":281,"wires":[["c98de4c.4028f98"]]},{"id":"c98de4c.4028f98","type":"function","z":"e9dfec62.6b0488","name":"check if sensor exist","func":"if (msg.query_result.length>0){// sensor exist.\n            let new_msg = msg;\n    return [new_msg,null];\n}else{\n    let new_msg = msg;\n    new_msg.writeDataInput = {\n        tags:{            \n            'devices_macAddr':msg.payload.macAddr,\n            'sensorID':msg.payload.sensorID.toString(),\n        },\n        fields:{\n            'sensorStatus':'ONLINE'\n        },\n        time_stamp: Date.now()*Math.pow(10, 6),\n    }\n    return [null,new_msg];\n}\n","outputs":"2","noerr":0,"x":282.2499694824219,"y":336.75,"wires":[["ed22399a.f94f4"],["514cff31.85b54"]],"outputLabels":["sensor exist path","sensor not exist path"]},{"id":"45aa69ae.5aeab","type":"function","z":"e9dfec62.6b0488","name":"check data value","func":"//\tC: [1, 100]; \t%: [0, 100],\tlux: [1, 65535]\nlet sensorData = msg.payload;\nlet sensorValue = sensorData.value;\nlet addSensorValueMsg = null;\nif (\n    (sensorData.unit == 'lux' && 1 <= sensorValue && sensorValue <= 65535) ||\n    (sensorData.unit == 'C' && 1 <= sensorValue && sensorValue <= 100) ||\n    (sensorData.unit == '%' && 0 <= sensorValue && sensorValue <= 100)\n) {\n    addSensorValueMsg = msg;\n    addSensorValueMsg.payload = {\n        tags: {\n            'macAddr': sensorData.macAddr,\n            'sensorID': sensorData.sensorID.toString(),\n        },\n        fields: {\n            'unit':sensorData.unit,\n            'value':sensorValue\n        },\n        time_stamp: Date.now() * Math.pow(10, 6),\n    };\n}\nif(addSensorValueMsg!==null){\n    return addSensorValueMsg;\n}","outputs":"1","noerr":0,"x":768.0357666015625,"y":329.9287109375,"wires":[["9854fc99.c3d12"]],"outputLabels":["sensor normal"]},{"id":"514cff31.85b54","type":"influxdb-write-data","z":"e9dfec62.6b0488","name":"add new sensor","influxdbServer":"f23c7270.62be68","dataInput":"writeDataInput","measurement":"devices_and_sensors","outputTo":"writeDataResult","x":318.2856750488281,"y":458.5714416503906,"wires":[["ed22399a.f94f4"]]},{"id":"87dfe372.792ca","type":"mqtt out","z":"e9dfec62.6b0488","name":"send action message","topic":"","qos":"","retain":"","broker":"c1c8f69a.cc8c3","x":944.4287109375,"y":202.96435546875,"wires":[]},{"id":"396219a4.5c56fe","type":"threshold-operator","z":"e9dfec62.6b0488","name":"operator","temperatureLimit":40,"humidityLimit":60,"luxLimit":300,"actionTopic":"","x":743.214111328125,"y":247.928466796875,"wires":[["87dfe372.792ca"]]},{"id":"ce8d4984.9ca7d","type":"influxdb-query","z":"e9dfec62.6b0488","name":"query sensor info","influxdbServer":"f23c7270.62be68","queryString":"select devices_macAddr,sensorID,last(sensorStatus) as sensorStatus, time\nfrom devices_and_sensors\nwhere devices_macAddr='{{msg.payload.macAddr}}'\nand sensorID='{{msg.payload.sensorID}}'","outputTo":"query_result","x":670.7142944335938,"y":510.28582763671875,"wires":[["fdbbc246.a40278"]]},{"id":"fdbbc246.a40278","type":"function","z":"e9dfec62.6b0488","name":"process_sensor_status","func":"//\tC: [1, 100]; \t%: [0, 100],\tlux: [1, 65535]\nlet sensorData = msg.payload;\nlet sensorValue = sensorData.value;\nlet sensorInfo = msg.query_result[0];\n\nlet setSensorStatusMsg = null;\nif (\n    (sensorData.unit == 'lux' && 1 <= sensorValue && sensorValue <= 65535) ||\n    (sensorData.unit == 'C' && 1 <= sensorValue && sensorValue <= 100) ||\n    (sensorData.unit == '%' && 0 <= sensorValue && sensorValue <= 100)\n) {\n    if(sensorInfo.sensorStatus=='OFFLINE'){\n        setSensorStatusMsg = msg;\n        setSensorStatusMsg.payload = {\n            tags: {\n                'devices_macAddr': sensorInfo.devices_macAddr,\n                'sensorID': sensorInfo.sensorID.toString(),\n            },\n            fields: {\n               'sensorStatus': 'ONLINE',\n            },\n            time_stamp: Date.now() * Math.pow(10, 6),\n        };\n    }\n}else{\n    if(sensorInfo.sensorStatus=='ONLINE'){\n        setSensorStatusMsg = msg;\n        setSensorStatusMsg.payload = {\n            tags: {\n                'devices_macAddr': sensorInfo.devices_macAddr,\n                'sensorID': sensorInfo.sensorID.toString(),\n            },\n            fields: {\n                'sensorStatus': 'OFFLINE',\n            },\n            time_stamp: Date.now() * Math.pow(10, 6),\n        };\n    }\n}\nif(setSensorStatusMsg!==null){\n    return setSensorStatusMsg;\n}","outputs":"1","noerr":0,"x":772.7144165039062,"y":426.7142028808594,"wires":[["7be83ff2.f4eb7"]],"outputLabels":["sensor status change"]},{"id":"ed22399a.f94f4","type":"function","z":"e9dfec62.6b0488","name":"split action","func":"// split action: operator, add data value, set sensor status\nvar addValueMsg = JSON.parse(JSON.stringify(msg));\nvar setSensorStatusMsg = JSON.parse(JSON.stringify(msg));\nvar operatorMsg = JSON.parse(JSON.stringify(msg));\noperatorMsg.actionTopic = 'icse/'+msg.payload.macAddr+'/action';\n\nreturn [operatorMsg,addValueMsg,setSensorStatusMsg];","outputs":"3","noerr":0,"x":522.8572387695312,"y":334.2856750488281,"wires":[["396219a4.5c56fe"],["45aa69ae.5aeab"],["ce8d4984.9ca7d"]],"outputLabels":["set operator","add value","set sensor status"]},{"id":"9854fc99.c3d12","type":"influxdb-out","z":"e9dfec62.6b0488","name":"add data value","influxdbServer":"f23c7270.62be68","measurement":"data","enableSchema":false,"dbTags":[],"dbFields":[],"x":1020.0003662109375,"y":327.142822265625,"wires":[]},{"id":"7be83ff2.f4eb7","type":"influxdb-out","z":"e9dfec62.6b0488","name":"set sensor status","influxdbServer":"f23c7270.62be68","measurement":"devices_and_sensors","enableSchema":false,"dbTags":[],"dbFields":[],"x":948.7144775390625,"y":520.5714111328125,"wires":[]},{"id":"d8ae499a.0a7d18","type":"iot-data-in","z":"e9dfec62.6b0488","name":"icse/deviceStatus","mqttBroker":"c1c8f69a.cc8c3","topic":"icse/deviceStatus","x":85,"y":655,"wires":[["c318994.a4edce8"]]},{"id":"e5f3dba8.2eaed","type":"function","z":"e9dfec62.6b0488","name":"check if device exist","func":"if (msg.query_result.length>0 && msg.payload.status=='OFFLINE'){// sensor exist.\n    let new_msg = msg;\n    new_msg.writeDataInput = {\n        tags:{\n            \"macAddr\": msg.payload.macAddr,\n            //\"devicesStatus\":\"'ONLINE'\"\n        },\n        fields:{\n            \"type\": msg.query_result[0].type,\n            \"devicesStatus\":\"OFFLINE\"\n        },\n        time_stamp: Date.now()*Math.pow(10, 6),\n    }\n    return new_msg;\n}","outputs":"1","noerr":0,"x":371,"y":536,"wires":[["b716f7ee.5079"]],"outputLabels":["sensor exist path"]},{"id":"c318994.a4edce8","type":"influxdb-query","z":"e9dfec62.6b0488","name":"query device info","influxdbServer":"f23c7270.62be68","queryString":"select * \nfrom devices_and_sensors\nwhere macAddr='{{msg.payload.macAddr}}'","outputTo":"query_result","x":148.75003051757812,"y":540.25,"wires":[["e5f3dba8.2eaed"]]},{"id":"b716f7ee.5079","type":"influxdb-write-data","z":"e9dfec62.6b0488","name":"set device offline","influxdbServer":"f23c7270.62be68","dataInput":"writeDataInput","measurement":"devices_and_sensors","outputTo":"writeDataResult","x":375,"y":675,"wires":[["62c46aab.a7fa8c"]]},{"id":"62c46aab.a7fa8c","type":"influxdb-query","z":"e9dfec62.6b0488","name":"query device sensor","influxdbServer":"f23c7270.62be68","queryString":"SHOW TAG VALUES \nFROM \"devices_and_sensors\" \nWITH KEY = \"sensorID\" \nWHERE devices_macAddr='{{msg.payload.macAddr}}'","outputTo":"query_result","x":552,"y":609,"wires":[["92441585.8f9d2","f731d3f3.e38438"]]},{"id":"f731d3f3.e38438","type":"function","z":"e9dfec62.6b0488","name":"set sensors offline","func":"let setSensorMsgs = [];\nfor(let i=0;i<msg.query_result.length;i++){\n    let sensorInfo = msg.query_result[i];\n    let sensorID = sensorInfo.value;\n    let new_msg = JSON.parse(JSON.stringify(msg));\n    new_msg.payload = {\n        tags:{            \n            'devices_macAddr':msg.payload.macAddr,\n            'sensorID': sensorID.toString(),\n        },\n        fields:{\n            'sensorStatus':'OFFLINE'\n        },\n        time_stamp: Date.now()*Math.pow(10, 6),\n    }\n    setSensorMsgs.push(new_msg);\n}\nreturn [setSensorMsgs,]","outputs":"1","noerr":0,"x":778,"y":602,"wires":[["c6c564e0.36d748"]],"outputLabels":["sensor exist path"]},{"id":"c6c564e0.36d748","type":"influxdb-out","z":"e9dfec62.6b0488","name":"set sensors status","influxdbServer":"f23c7270.62be68","measurement":"devices_and_sensors","enableSchema":false,"dbTags":[],"dbFields":[],"x":800,"y":681,"wires":[]},{"id":"92441585.8f9d2","type":"debug","z":"e9dfec62.6b0488","name":"","active":true,"console":"false","complete":"true","x":735,"y":734,"wires":[]}]