dong/node-red/data/.flows.json.backup
[{"id":"b4bec96f.bd5c58","type":"tab","label":"Flow 1"},{"id":"8b44c62a.906868","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"46a7f28d.45a74c","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"3a781ef2.46eeb2","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a7b7d199.1940a","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"device/api/info","method":"get","upload":false,"swaggerDoc":"","x":112,"y":99,"wires":[["1badd266.2594ae"]]},{"id":"824d0232.fde95","type":"function","z":"b4bec96f.bd5c58","name":"get sensor info","func":"msg.query = \"select * from sensor;\";\nreturn msg;","outputs":1,"noerr":0,"x":311,"y":258,"wires":[["d2b4c43c.9793e8"]]},{"id":"e3a7a9f0.26dc48","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"sensor/api/info","method":"get","upload":false,"swaggerDoc":"","x":103,"y":216,"wires":[["824d0232.fde95"]]},{"id":"83baf63c.8cfc68","type":"function","z":"b4bec96f.bd5c58","name":"format response","func":"let payload = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let sensor = msg.payload[i];\n    payload.push({\n        macAddr: sensor.macAddr, \n        sensorID: sensor.name, \n\t\tsensorStatus: sensor.status, \n\t\tcreatedAt: sensor.created_at\n    })\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":716,"y":242,"wires":[["7853524c.9ee8cc"]]},{"id":"7853524c.9ee8cc","type":"http response","z":"b4bec96f.bd5c58","name":"","statusCode":"","headers":{},"x":1104,"y":306,"wires":[]},{"id":"d4e88a41.4054e8","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"device/api/logs","method":"get","upload":false,"swaggerDoc":"","x":95,"y":395,"wires":[["f90cd146.9b697"]]},{"id":"f90cd146.9b697","type":"function","z":"b4bec96f.bd5c58","name":"create query device logs ","func":"let macAddr = msg.payload.macAddr;\nmsg.payload.query = \"select time,deviceStatus from devices_and_sensors where macAddr='\" + macAddr + \"' and isDevice=True;\";\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":402,"wires":[["4246457b.6223ac"]]},{"id":"a2fd830.2efd78","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"sensor/api/logs","method":"get","upload":false,"swaggerDoc":"","x":95,"y":495,"wires":[["52c1dd27.7a7484"]]},{"id":"52c1dd27.7a7484","type":"function","z":"b4bec96f.bd5c58","name":"create query sensor logs ","func":"let sensorID = msg.payload.sensorID;\nmsg.payload.query = \"select time,sensorStatus from devices_and_sensors where sensorID='\" + sensorID + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":474,"y":503,"wires":[["24fe4e42.ff6692"]]},{"id":"9325f05a.bebbc","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"/realtime-chart/api/device/initData","method":"get","upload":false,"swaggerDoc":"","x":155,"y":597,"wires":[["c3bce2f.8b2322"]]},{"id":"23991c89.ccd5d4","type":"function","z":"b4bec96f.bd5c58","name":"add query init data","func":"msg.sensors = msg.payload;\n\nlet macAddr = msg.macAddr;\nlet endTime = Date.now();\nlet startTime = endTime - 60*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.payload.query = \"select * from data where macAddr='\" + \n    macAddr + \"' and \" + \n    \"time >= \"+ startTime + \" and \" + \n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":564,"y":653,"wires":[["a398915b.3f4aa"]]},{"id":"eb8e4f8.72ee4b","type":"function","z":"b4bec96f.bd5c58","name":"format init data response","func":"var units_range = {\n    c: {min: 1, max: 100},\n    lux: {min: 1, max: 100},\n    humi: {min: 1, max: 65535}\n};\n\nvar groupLineChart = [\n    {unit: \"\", lines: []},\n    {unit: \"Lux\", lines: []}\n]\n\nfor(let i = 0;i<msg.sensors.length;i++){\n    msg.sensors[i].timeSeriesData = [];\n    msg.sensors[i].sensorID = msg.sensors[i].name;\n}\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j = 0; j < msg.sensors.length; j++) {\n        if (msg.payload[i].name === msg.sensors[j].name) {\n            msg.sensors[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            break;\n        }\n    }\n    // if (is_new_sensor) {\n    //     let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].sensorID,\n    //         msg.payload[i].unit);\n    //     new_sensor.timeSeriesData.push({\n    //         time: msg.payload[i].time,\n    //         value: msg.payload[i].value\n    //     })\n    //     initSensorsData.push(new_sensor);\n    // }\n}\n\nfor (let i = 0; i < msg.sensors.length; i++) {\n    if (msg.sensors[i].unit.toLowerCase() === 'c' ||\n        msg.sensors[i].unit.toLowerCase() === '%') {\n        groupLineChart[0].lines.push(msg.sensors[i]);\n        groupLineChart[0].unit += \" / \" + msg.sensors[i].unit;\n    }\n    if (msg.sensors[i].unit.toLowerCase() === 'lux') {\n        groupLineChart[1].lines.push(msg.sensors[i]);\n    }\n}\n\ngroupLineChart[0].unit = groupLineChart[0].unit.slice(3, groupLineChart[0].unit.length);\n\nmsg.payload = groupLineChart;\nreturn msg;","outputs":1,"noerr":0,"x":865,"y":643,"wires":[["7853524c.9ee8cc"]]},{"id":"f629161c.889e48","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"dashboard","method":"get","upload":false,"swaggerDoc":"","x":181,"y":27,"wires":[["da4ea832.865258"]]},{"id":"f4efe018.32cd","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"/realtime-chart/api/sensor/latestData","method":"get","upload":false,"swaggerDoc":"","x":165,"y":762,"wires":[["97608b27.1267e8"]]},{"id":"97608b27.1267e8","type":"function","z":"b4bec96f.bd5c58","name":"add query latest data","func":"msg.macAddr = msg.payload.macAddr;\n\nmsg.arrSensorID = msg.payload.sensorIDs.split(',');\nlet sensor_query = \"\";\nfor(let i = 0;i<msg.arrSensorID.length;i++){\n    if(msg.arrSensorID[i]){\n        sensor_query += \"or \\\"name\\\" = '\" + msg.arrSensorID[i] + \"' \";\n    }\n}\n\nsensor_query = sensor_query.slice(2, sensor_query.length);\n\nlet endTime = Date.now();\nlet startTime = endTime - 5*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.payload.query = \"select * from data where \" +\n    sensor_query + \" and \" +\n    \"\\\"macAddr\\\" = '\" + msg.macAddr + \"' and \" +\n    \"time >= \"+ startTime + \" and \" +\n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":838,"wires":[["18af09fb.2f0026"]]},{"id":"8cc0665b.7fd908","type":"function","z":"b4bec96f.bd5c58","name":"format latest data response","func":"var initSensorsData = [];\nvar Sensor = function (macAddr, sensorID) {\n    this.macAddr = macAddr;\n    this.sensorID = sensorID;\n    // this.unit = unit;\n    this.timeSeriesData = [] // {\"time\": \"\", \"value\": };\n}\n\nfor (let i=0;i<msg.payload.length;i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j=0;j<initSensorsData.length;j++) {\n        if (msg.payload[i].name === initSensorsData[j].sensorID) {\n            initSensorsData[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            is_new_sensor = false;\n            break;\n        }\n    }\n    if (is_new_sensor) {\n        let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].name);\n        new_sensor.timeSeriesData.push({\n            time: msg.payload[i].time,\n            value: msg.payload[i].value\n        })\n        initSensorsData.push(new_sensor);\n    }\n}\nmsg.payload = initSensorsData;\nreturn msg;","outputs":1,"noerr":0,"x":744,"y":798,"wires":[["7853524c.9ee8cc"]]},{"id":"da4ea832.865258","type":"dashboard","z":"b4bec96f.bd5c58","name":"","x":416,"y":33,"wires":[["7853524c.9ee8cc"]]},{"id":"1badd266.2594ae","type":"function","z":"b4bec96f.bd5c58","name":"get device info","func":"msg.query = \"select * from device;\";\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":123,"wires":[["199735d.86770ca"]]},{"id":"367fee11.02d262","type":"debug","z":"b4bec96f.bd5c58","name":"","active":true,"console":"false","complete":"false","x":649,"y":207,"wires":[]},{"id":"c3bce2f.8b2322","type":"function","z":"b4bec96f.bd5c58","name":"get device's sensor ","func":"msg.macAddr = msg.payload.macAddr;\nmsg.query = \"select * from sensor where macAddr='\" + msg.macAddr + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":663,"wires":[["16e1c095.32c1bf"]]},{"id":"199735d.86770ca","type":"mysql-query","z":"b4bec96f.bd5c58","mydb":"8b44c62a.906868","name":"","queryString":"","outputTo":"payload","x":561,"y":125,"wires":[["7853524c.9ee8cc"]]},{"id":"d2b4c43c.9793e8","type":"mysql-query","z":"b4bec96f.bd5c58","mydb":"8b44c62a.906868","name":"","queryString":"","outputTo":"payload","x":499,"y":300,"wires":[["367fee11.02d262","7853524c.9ee8cc"]]},{"id":"16e1c095.32c1bf","type":"mysql-query","z":"b4bec96f.bd5c58","mydb":"8b44c62a.906868","name":"","queryString":"","outputTo":"payload","x":453,"y":589,"wires":[["23991c89.ccd5d4"]]},{"id":"ab4ccf5a.0b496","type":"http response","z":"b4bec96f.bd5c58","name":"","statusCode":"","headers":{},"x":983,"y":1056,"wires":[]},{"id":"4ed00587.360f7c","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"sensor/api/count","method":"get","upload":false,"swaggerDoc":"","x":135,"y":931,"wires":[["2de03aeb.88cb86"]]},{"id":"2de03aeb.88cb86","type":"mysql-query","z":"b4bec96f.bd5c58","mydb":"8b44c62a.906868","name":"","queryString":"select count(*) as count from sensor;","outputTo":"payload","x":391,"y":930,"wires":[["7cd5d385.2319fc"]]},{"id":"7cd5d385.2319fc","type":"function","z":"b4bec96f.bd5c58","name":"format data response","func":"msg.payload = msg.payload[0].count;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":929,"wires":[["ab4ccf5a.0b496"]]},{"id":"2a03ac41.2bc8c4","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"/latestUnitData","method":"get","upload":false,"swaggerDoc":"","x":133,"y":1025,"wires":[["d0de0449.e91748"]]},{"id":"d0de0449.e91748","type":"function","z":"b4bec96f.bd5c58","name":"generate query","func":"let unit = msg.payload.unit;\nmsg.payload.query = \"select last(value) as latestValue from data where \\\"unit\\\"='\" + unit + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":396,"y":1023,"wires":[["29fba102.e3ca9e"]]},{"id":"29fba102.e3ca9e","type":"influxdb-query","z":"b4bec96f.bd5c58","name":"query latest data unit","influxdbServer":"46a7f28d.45a74c","queryString":"","outputTo":"payload","x":635,"y":1020,"wires":[["ab4ccf5a.0b496"]]},{"id":"4d5dede9.212e64","type":"influxdb-query","z":"b4bec96f.bd5c58","name":"query avareage temperature","influxdbServer":"46a7f28d.45a74c","queryString":"","outputTo":"payload","x":541,"y":1166,"wires":[["c880de1c.4cfbd"]]},{"id":"ea0d2177.a7507","type":"function","z":"b4bec96f.bd5c58","name":"generate query for 7 day left","func":"let query = \"\";\n// select mean(value) from data where \"unit\"='C' and time > now() - 5m and time < now() - 2m;\nlet range = 5; // minute\nlet column = 7; \nfor(let i = column;i>0;i--){\n    query += \"select mean(value) as value from data where \\\"unit\\\"='C' \" + \n\t\t\t \"and time > now() - \" + range * i + \"m and time < now() - \" + range * (i - 1) + \"m;\"\n}\nmsg.payload = {};\nmsg.payload.query = query;\n\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":1114,"wires":[["4d5dede9.212e64"]]},{"id":"c880de1c.4cfbd","type":"function","z":"b4bec96f.bd5c58","name":"format data response","func":"let result = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let data = msg.payload[i][0];\n    result.push(data);\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":713,"y":1111,"wires":[["ab4ccf5a.0b496"]]},{"id":"9d7a6d37.ee447","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"temperatureAvarage","method":"get","upload":false,"swaggerDoc":"","x":128,"y":1169,"wires":[["ea0d2177.a7507"]]},{"id":"a398915b.3f4aa","type":"influxdb-query","z":"b4bec96f.bd5c58","name":"","influxdbServer":"46a7f28d.45a74c","queryString":"","outputTo":"payload","x":696,"y":584,"wires":[["eb8e4f8.72ee4b"]]},{"id":"24fe4e42.ff6692","type":"influxdb-query","z":"b4bec96f.bd5c58","name":"","influxdbServer":"46a7f28d.45a74c","queryString":"","outputTo":"payload","x":773,"y":509,"wires":[["7853524c.9ee8cc"]]},{"id":"4246457b.6223ac","type":"influxdb-query","z":"b4bec96f.bd5c58","name":"","influxdbServer":"46a7f28d.45a74c","queryString":"","outputTo":"payload","x":764,"y":408,"wires":[["7853524c.9ee8cc"]]},{"id":"18af09fb.2f0026","type":"influxdb-query","z":"b4bec96f.bd5c58","name":"","influxdbServer":"46a7f28d.45a74c","queryString":"","outputTo":"payload","x":514,"y":774,"wires":[["8cc0665b.7fd908"]]},{"id":"99f4d891.798b38","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"actionToThings","method":"post","upload":false,"swaggerDoc":"","x":145,"y":1269,"wires":[["a0ad4d5f.e0056"]]},{"id":"a58c0fc.33469f","type":"http response","z":"b4bec96f.bd5c58","name":"","statusCode":"","headers":{},"x":594,"y":1284,"wires":[]},{"id":"a0ad4d5f.e0056","type":"function","z":"b4bec96f.bd5c58","name":"convert message","func":"msg.topic = msg.payload.topic;\nmsg.payload = msg.payload.message;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1268,"wires":[["a58c0fc.33469f","fbfd56ac.e342c8"]]},{"id":"fbfd56ac.e342c8","type":"mqtt out","z":"b4bec96f.bd5c58","name":"","topic":"","qos":"","retain":"","broker":"3a781ef2.46eeb2","x":592,"y":1360,"wires":[]},{"id":"8f49cf73.3d9cf","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"/device/sensors","method":"get","upload":false,"swaggerDoc":"","x":131,"y":1444,"wires":[["be708f33.4746d"]]},{"id":"be708f33.4746d","type":"function","z":"b4bec96f.bd5c58","name":"get device's sensors","func":"msg.macAddr = msg.payload.macAddr;\nmsg.query = \"select * from sensor where macAddr='\" + msg.macAddr + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":1445,"wires":[["48236820.a2ef88"]]},{"id":"f60d7f6e.866c1","type":"http response","z":"b4bec96f.bd5c58","name":"","statusCode":"","headers":{},"x":797,"y":1452,"wires":[]},{"id":"48236820.a2ef88","type":"mysql-query","z":"b4bec96f.bd5c58","mydb":"8b44c62a.906868","name":"","queryString":"","outputTo":"payload","x":597,"y":1432,"wires":[["f60d7f6e.866c1"]]},{"id":"b469f54a.0e1468","type":"debug","z":"b4bec96f.bd5c58","name":"","active":true,"console":"false","complete":"true","x":448,"y":1760,"wires":[]},{"id":"9a18fae3.fb40f8","type":"inject","z":"b4bec96f.bd5c58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1730,"wires":[[]]},{"id":"430966f0.ef3428","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"sensor/chart/initData","method":"get","upload":false,"swaggerDoc":"","x":162,"y":1536,"wires":[["29e316e2.75ba6a"]]},{"id":"3a04bfe5.ccab5","type":"influxdb-query","z":"b4bec96f.bd5c58","name":"","influxdbServer":"46a7f28d.45a74c","queryString":"","outputTo":"payload","x":685,"y":1553,"wires":[["f60d7f6e.866c1"]]},{"id":"29e316e2.75ba6a","type":"function","z":"b4bec96f.bd5c58","name":"add query init data","func":"msg.macAddr = msg.payload.macAddr;\nmsg.sensorName = msg.payload.sensorName;\n\nlet endTime = Date.now();\nlet startTime = endTime - 60*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.payload.query = \"select * from data where \" +\n    \"\\\"name\\\" = '\" + msg.sensorName + \"' and \" +\n    \"\\\"macAddr\\\" = '\" + msg.macAddr + \"' and \" +\n    \"time >= \"+ startTime + \" and \" +\n    \"time <= \" + endTime;\nmsg.query = msg.payload.query;\nreturn msg;","outputs":1,"noerr":0,"x":416,"y":1533,"wires":[["3a04bfe5.ccab5"]]},{"id":"c13c35d9.aa1f78","type":"http in","z":"b4bec96f.bd5c58","name":"","url":"sensor/chart/latestData","method":"get","upload":false,"swaggerDoc":"","x":157,"y":1624,"wires":[["152dbafc.214d85"]]},{"id":"152dbafc.214d85","type":"function","z":"b4bec96f.bd5c58","name":"add query init data","func":"msg.macAddr = msg.payload.macAddr;\nmsg.sensorName = msg.payload.sensorName;\n\nlet endTime = Date.now();\nlet startTime = endTime - 5*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.payload.query = \"select * from data where \" +\n    \"\\\"name\\\" = '\" + msg.sensorName + \"' and \" +\n    \"\\\"macAddr\\\" = '\" + msg.macAddr + \"' and \" +\n    \"time >= \"+ startTime + \" and \" +\n    \"time <= \" + endTime;\nmsg.query = msg.payload.query;\nreturn msg;","outputs":1,"noerr":0,"x":419,"y":1662,"wires":[["9580097f.6424c8"]]},{"id":"9580097f.6424c8","type":"influxdb-query","z":"b4bec96f.bd5c58","name":"","influxdbServer":"46a7f28d.45a74c","queryString":"","outputTo":"payload","x":688,"y":1682,"wires":[["f60d7f6e.866c1"]]}]