cong/old_projects/realtime-chart/node-red/data/flows.json
[{"id":"c1fe362e.505dc8","type":"tab","label":"Simulate IoT Send data","disabled":false,"info":""},{"id":"2f3a3d48.e93182","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c314571.ef5e3a8","type":"MySQLdatabase","z":"","host":"db","port":"3306","db":"iot","tz":""},{"id":"12981dbb.41a592","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot_data"},{"id":"5aff72b3.5eb574","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1a7aa7c6.8c831","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"ICSE_IOT_DATA"},{"id":"985d47b4.989658","type":"http response","z":"c1fe362e.505dc8","name":"","statusCode":"","headers":{},"x":1007.9287109375,"y":171.03570556640625,"wires":[]},{"id":"9d4a9c00.508d38","type":"iot-data-in","z":"c1fe362e.505dc8","name":"","mqttBroker":"5aff72b3.5eb574","topic":"iot/sensor","x":157,"y":105,"wires":[["567cef5f.566fc"]]},{"id":"f28cc108.466f48","type":"influxdb-out","z":"c1fe362e.505dc8","name":"data_output_to_influxdb","influxdbServer":"1a7aa7c6.8c831","measurement":"sensor_data","enableSchema":true,"dbTags":["sender_sensor","data_type"],"dbFields":[{"name":"value","type":"FLOAT"}],"x":959.857177734375,"y":96.85712432861328,"wires":[]},{"id":"567cef5f.566fc","type":"function","z":"c1fe362e.505dc8","name":"convert data to influx form","func":"var payload = msg.payload;\nvar time_stamp = payload.time_stamp;\nvar time_precision = payload.time_precision;\nvar payload = msg.payload;\nvar time_stamp = payload.time_stamp;\nvar time_precision = payload.time_precision;\nif (time_precision !== \"millisecond\" && time_precision !== \"second\") {\n    node.error(\"Time precision \" + time_precision + \" is not supported! \" +\n        \"Supported type is second and millisecond\");\n\n} else {\n    if (time_precision == \"second\") {\n        time_stamp = time_stamp * Math.pow(10, 9);\n    } else if (time_precision == \"millisecond\") {\n        time_stamp = time_stamp * Math.pow(10, 6);\n    }\n    var outputMgs = [];\n    var sensorData = msg.payload.data;\n    for (var dataType in sensorData) {\n        msgOutPayload = {\n            tags:{\n                \"sender_sensor\":payload.sender_sensor,\n                \"data_type\":dataType,\n            },\n            fields:{\n                \"value\":parseFloat(sensorData[dataType]),\n            },\n            time_stamp:time_stamp,\n\n        };\n        outputMgs.push({payload:msgOutPayload});\n    }\n    return [outputMgs,];\n}","outputs":1,"noerr":0,"x":561.4285278320312,"y":89.14286041259766,"wires":[["f28cc108.466f48"]]},{"id":"d9d070ba.ce75f","type":"chart-template","z":"c1fe362e.505dc8","name":"","x":544.5355834960938,"y":174.42852783203125,"wires":[["985d47b4.989658"]]},{"id":"142819e6.e691ee","type":"inject","z":"c1fe362e.505dc8","name":"","topic":"","payload":"{\"dataType\":\"light\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":183.57144165039062,"y":257.8927917480469,"wires":[[]]},{"id":"1a3500ef.683b57","type":"http in","z":"c1fe362e.505dc8","name":"","url":"/realtime-chart/api/get-init-data","method":"get","upload":false,"swaggerDoc":"","x":165,"y":500,"wires":[["f1ea78ac.883568"]]},{"id":"154adb74.2534dd","type":"http in","z":"c1fe362e.505dc8","name":"","url":"/realtime-chart","method":"get","upload":false,"swaggerDoc":"","x":165.02777099609375,"y":171.58331298828125,"wires":[["d9d070ba.ce75f"]]},{"id":"61af9935.84879","type":"http response","z":"c1fe362e.505dc8","name":"","statusCode":"","headers":{},"x":1023.7579956054688,"y":498.7935791015625,"wires":[]},{"id":"9946e5a8.3a736","type":"http in","z":"c1fe362e.505dc8","name":"","url":"/realtime-chart/api/get-lastest-data","method":"get","upload":false,"swaggerDoc":"","x":155,"y":680.2857055664062,"wires":[["e481540a.62a008"]]},{"id":"f1ea78ac.883568","type":"function","z":"c1fe362e.505dc8","name":"set unit - start time - end time","func":"let endTime = Date.now();\nlet startTime = endTime - 60*1000;\nmsg.timeSlice = {\n    startTime:startTime*Math.pow(10,6),\n    endTime:endTime*Math.pow(10,6)\n};\nif(msg.payload.dataType=='light'){\n    msg.payload.dataUnit ='lux';\n}else if(msg.payload.dataType=='humidity'){\n    msg.payload.dataUnit='%';\n}else if(msg.payload.dataType=='temperature'){\n    msg.payload.dataUnit='oC';\n}\nreturn msg;","outputs":1,"noerr":0,"x":232.65472412109375,"y":382.6507568359375,"wires":[["327d77dd.24d2a8"]]},{"id":"2ccc932c.7dd904","type":"influxdb-query","z":"c1fe362e.505dc8","name":"query sensor data","influxdbServer":"1a7aa7c6.8c831","queryString":"select *  from sensor_data  \nwhere\n    data_type='{{msg.payload.dataType}}' and\n    time >={{msg.timeSlice.startTime}} and\n    time <={{msg.timeSlice.endTime}}\n    \norder by time asc","outputTo":"query_sensor_data","x":751.0039672851562,"y":386.1150207519531,"wires":[["ad107ebf.2c0e78"]]},{"id":"ad107ebf.2c0e78","type":"function","z":"c1fe362e.505dc8","name":"format return obj","func":"let sensorInitDataList = [];\nfor (let i = 0; i < msg.query_sensor_list.length; i++) {\n    let sensorName = msg.query_sensor_list[i].value;\n    if (sensorName !== null) {\n        let duplicateColor = true;\n        let sensorInitData = {\n            id: sensorName,\n            timeSerieData: []\n        };\n        for (let i = 0; i < msg.query_sensor_data.length; i++) {\n            let timeSliceData = msg.query_sensor_data[i];\n            if (timeSliceData.sender_sensor == sensorInitData.id) {\n                sensorInitData.timeSerieData.push({\n                    timestamp: timeSliceData.time,\n                    value: timeSliceData.value\n                });\n            }\n        }\n        // sensorInitDataList.push(sensorInitData);\n        if (sensorInitData.timeSerieData.length > 0) {\n            sensorInitDataList.push(sensorInitData);\n        }    \n    }\n}\nmsg.payload.linesInitData = sensorInitDataList;\nreturn msg;","outputs":1,"noerr":0,"x":982.8731079101562,"y":389.642822265625,"wires":[["61af9935.84879"]]},{"id":"327d77dd.24d2a8","type":"influxdb-query","z":"c1fe362e.505dc8","name":"query sensor list","influxdbServer":"1a7aa7c6.8c831","queryString":"show tag values \nfrom sensor_data \nwith key=sender_sensor","outputTo":"query_sensor_list","x":505.1785888671875,"y":388.03570556640625,"wires":[["2ccc932c.7dd904"]]},{"id":"e8a70e50.aecbe8","type":"influxdb-query","z":"c1fe362e.505dc8","name":"query sensor list","influxdbServer":"1a7aa7c6.8c831","queryString":"show tag values \nfrom sensor_data \nwith key=sender_sensor","outputTo":"query_sensor_list","x":522.857177734375,"y":547.1429443359375,"wires":[["a71c03d3.d71ed8"]]},{"id":"a71c03d3.d71ed8","type":"influxdb-query","z":"c1fe362e.505dc8","name":"query sensor data","influxdbServer":"1a7aa7c6.8c831","queryString":"select *  from sensor_data  \nwhere\n    data_type='{{msg.payload.dataType}}' and\n    time >={{msg.timeSlice.startTime}} and\n    time <={{msg.timeSlice.endTime}}\n    \norder by time asc","outputTo":"query_sensor_data","x":748.6825256347656,"y":552.3650817871094,"wires":[["41c889a3.8af3e8"]]},{"id":"e481540a.62a008","type":"function","z":"c1fe362e.505dc8","name":"set unit - start time - end time","func":"let endTime = Date.now();\nlet startTime = endTime - 2*1000;\nmsg.timeSlice = {\n    startTime:startTime*Math.pow(10,6),\n    endTime:endTime*Math.pow(10,6)\n};\nif(msg.payload.dataType=='light'){\n    msg.payload.dataUnit ='lux';\n}else if(msg.payload.dataType=='humidity'){\n    msg.payload.dataUnit='%';\n}else if(msg.payload.dataType=='temperature'){\n    msg.payload.dataUnit='oC';\n}\nreturn msg;","outputs":1,"noerr":0,"x":227.14288330078125,"y":555.7143249511719,"wires":[["e8a70e50.aecbe8"]]},{"id":"2802c344.ed20d4","type":"http response","z":"c1fe362e.505dc8","name":"","statusCode":"","headers":{},"x":1022.857177734375,"y":658.5714111328125,"wires":[]},{"id":"41c889a3.8af3e8","type":"function","z":"c1fe362e.505dc8","name":"format return obj","func":"let lastestDataList = [];\nfor (let i = 0; i < msg.query_sensor_list.length; i++) {\n    let sensorName = msg.query_sensor_list[i].value;\n    if (sensorName !== null) {\n        let duplicateColor = true;\n        let lineData = {\n            id: sensorName,\n            timeSerieData: []\n        };\n        for (let i = 0; i < msg.query_sensor_data.length; i++) {\n            let timeSliceData = msg.query_sensor_data[i];\n            if (timeSliceData.sender_sensor == lineData.id) {\n                lineData.timeSerieData.push({\n                    timestamp: timeSliceData.time,\n                    value: timeSliceData.value\n                });\n            }\n        }\n        // sensorInitDataList.push(sensorInitData);\n        if (lineData.timeSerieData.length > 0) {\n            lastestDataList.push(lineData);\n        }    \n    }\n}\nmsg.payload.lastestDataList = lastestDataList;\nreturn msg;","outputs":1,"noerr":0,"x":984.8294677734375,"y":547.9921875,"wires":[["2802c344.ed20d4"]]},{"id":"79da04e6.97ecec","type":"debug","z":"c1fe362e.505dc8","name":"","active":true,"console":"false","complete":"false","x":1018.75,"y":285,"wires":[]}]